*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #F4EDAB;
  font-family: 'Source Sans Pro', sans-serif;
  color:#2957D5;
}
.landing-splash img{
  width:100%;
}
.nav{
  margin-bottom:20px;
}

#main-map, #near-map {
  height: 500px;
}
