// Sherpa Landing
//
// Style for the landing page. Any global style should be placed in core.scss
//
//

.landing-wrap {
  text-align: center;
  // background-image:url('../../images/charlestonHero.jpg');
}
.logo-wrap{
  padding:10%;
}
.selection-wrap {
  text-align: center;
  margin:0;
  padding:0;
  }
h1{
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 7rem;
}
h3{
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 5rem;
}
.logo-container {
  height:100vh;
  // background-image:url('../../images/charlestonHero.jpg');
  background:$c-green;
  h1{
  color:#fff;
  text-align:right;
  }
}
.welcome-container {
  height:100vh;
  padding: 0 5%;
  h3{
    color:$c-gray;
    margin-top: 8%;
  }
}
.options button {
  width: 100%;
  height:75vh;
  margin:0;
  padding: 5%;
  border: none;
  font-size:1.5em;
  color:$c-blue;
  background: $c-green;
  transition:.2s all;
  border: 3px solid $c-blue;
  &:hover {
    background: $c-blue;
    color:#fff;
  }
}
hr{
  border: 3px solid $c-green;
  width: 35%;
  margin-bottom:7%;
}
