// Sherpa Landing
//
// Style for the landing page. Any global style should be placed in core.scss
//
//

.selection-wrap {
  text-align: center;
  margin:0;
  padding:0;
  }

.welcome-container {
  display:flex;
  align-items:center;
  h3{
    color:$c-gray;
    margin-top: 8%;
  }
  .description{
    // @include vertical-align();
  }
}
.options button {
  width: 100%;
  height:75vh;
  margin:0;
  padding: 5%;
  border: none;
  font-size:1.5em;
  color:$c-blue;
  background: $c-green;
  transition:.2s all;
  border: 3px solid $c-blue;
  &:hover {
    background: $c-blue;
    color:#fff;
  }
}
hr{
  border: 3px solid $c-green;
  width: 35%;
  margin-bottom:7%;
}
