
// Sherpa Modals
//
// All style specific to Modals should go here. Any global style should be placed in core.scss
//
//
.modal-dialog {
  width: 80%;
  margin-top: 10%;
}
.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: white;
  padding: 4%;
}
.modal-header {
  border: none;
  padding: 0;
  .close{
    background: none;
    box-shadow: none;
    opacity:1;
    color:$c-red;
    border-radius:0;
    padding:10px;
    &:hover{
      color:white;
      opacity:1;
      text-shadow:none;
      background:$c-red;
    }
    span{
      padding:10px;
    }
  }
}
.modal-title {
  font-size: 2.25rem;
  font-weight: 800;
}
.modal-body {
  padding: 5% 0;
}
.modal-footer {
  border: none;
  padding: 0;
  button {
    border: none;
    font-size: 1.75rem;
    color:white;
  }
}

.modal {
  background: rgba($c-green,.85);
  border-top:3px solid $c-green;
  word-wrap: break-word;
  a{
    color:$c-green;
    font-size: 14px;
    &:hover{
      color:darken($c-green, 20%);
    }
  }
  img {
    width: 100%;
    margin-bottom: 5%;
  }
  .list-group-item{
    border:2px solid $c-gray;
    &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top:0;
    }
  }
  .well {
    font-size: 1.75rem;
    color:darken($c-gray,20%);
    box-shadow: none;
    border-radius: 0;
    background: rgba($c-gray,.15);
    border: 2px solid $c-gray;
    font-weight: 400;
    line-height: 2.5rem;
    overflow-y: scroll;
    max-height: 300px;
  }
}
.dismiss {
  background: none;
  box-shadow: none;
  color: #12D66E !important;
  margin-right:10px;
  &:hover{
    background:#F5F5F5;
  }
}
