// Sherpa Queries
//
// This partial is responsible for handling the device specific queries that will override individual elements. Any global style should be placed in core.scss
//
//

// device size xs
@media screen and (max-width: 40em) {
  //welcome view
.welcome-container{
  display:inline-block;
  align-items:none;
  p{
    margin-bottom:10%;
  }
}
  //options
  .options button{
    height:35vh;
  }
} //@media xs end

// device size md
@media only screen and (max-width:47.875em) {
  // splash view
  .welcome-container{
    display:inline-block;
    align-items:none;
    p{
      margin-bottom:10%;
    }
  }
}//@media md end
