// Sherpa Queries
//
// This partial is responsible for handling the device specific queries that will override individual elements. Any global style should be placed in core.scss
//
//

// device size xs
@media screen and (max-width: 40em) {
  // global
  .header-container{
    display:inline-block;
    padding:3% 15px;
    padding-bottom:0;
  }
  .description {
    padding-top: 7%;
  }
  .modal-dialog {
    margin: 0 auto;
    margin-top: 10%;
  }
  button.submit {
    width: 100%;
    padding: 3% 0;
    margin:3% 0;
    margin-bottom:10%;
  }
  //welcome view
  .welcome-container{
    display:inline-block;
    align-items:none;
    p{
      margin-bottom:10%;
    }
  }
  .options {
    padding-top: 10%;
  }
  .options button{
    height: 50vh;
  }
  // experience view
  .curExp-choice{
    padding: 3% 0;
  }
  .dismiss{
    display:none;
  }
  // choice view
  .location{
    width:81%;
    padding: 3%;
    margin: 5%;
  }
  // choice view slider
  .collection-item-wrap {
    h4 {
      padding: 5%;
    }
  }
} //@media xs end

// device size md
@media only screen and (max-width:47.875em) {
  // choices view
  .choices{
    li{
      margin-bottom:3%;
    }
  }
  // splash view
  .welcome-container{
    display:inline-block;
    align-items:none;
    p{
      margin-bottom:10%;
    }
  }
  // experience view
  .experience-btn{
    height:30vh;
  }
}//@media md end
