.checkbox-choice-wrap input[type="checkbox"] {
  margin-right: 10px; }
  .checkbox-choice-wrap input[type="checkbox"]:hover {
    background: #00EE6F; }

.curExp-card-wrap {
  padding: 10px; }

.curExp-card {
  border: none;
  background: yellow;
  color: rgba(0, 0, 0, 0.5);
  padding: 2% 0;
  font-size: 1.5em;
  text-transform: uppercase;
  transition: .2s all; }
  .curExp-card:hover {
    background: orange; }

.info-window .left {
  width: 33%;
  display: inline-block;
  vertical-align: top; }

.info-window .right {
  width: 66%;
  display: inline-block;
  vertical-align: top; }

.info-window h3 {
  margin: 0;
  margin-bottom: 3%; }

.info-action-link {
  font-size: 1.25em;
  margin-right: 10px; }

.status {
  font-size: 12px; }

.closed {
  color: red; }

.open {
  color: green; }

#main-map, #near-map {
  border-top: 3px solid #102665;
  height: 100vh; }

.landing-wrap {
  text-align: center; }

.logo-wrap {
  padding: 10%; }

.selection-wrap {
  text-align: center;
  margin: 0;
  padding: 0; }

h1 {
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 7rem; }

h3 {
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 5rem; }

.logo-container {
  height: 100vh;
  background: #00EE6F; }
  .logo-container h1 {
    color: #fff;
    text-align: right; }

.welcome-container {
  height: 100vh;
  padding: 0 5%; }
  .welcome-container h3 {
    color: #9DA3B3;
    margin-top: 8%; }

.options button {
  width: 100%;
  height: 75vh;
  margin: 0;
  padding: 5%;
  border: none;
  font-size: 1.5em;
  color: #102665;
  background: #00EE6F;
  transition: .2s all;
  border: 3px solid #102665; }
  .options button:hover {
    background: #102665;
    color: #fff; }

hr {
  border: 3px solid #00EE6F;
  width: 35%;
  margin-bottom: 7%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  color: #102665; }

p {
  font-size: 18px; }

a {
  color: #102665;
  font-size: 18px;
  font-weight: bold;
  transition: .2s all; }
  a:hover {
    color: #00EE6F;
    text-decoration: none; }

.nav {
  margin-bottom: 20px; }

.breadcrumb {
  background: none;
  margin: 3% 0;
  padding: 0; }
  .breadcrumb a {
    color: #9DA3B3; }
    .breadcrumb a:hover {
      color: #00EE6F; }

@media screen and (max-width: 40em) {
  .logo-container {
    height: 35vh; }
    .logo-container h1 {
      text-align: left; }
  .options button {
    height: 35vh; } }

@media only screen and (max-width: 47.875em) {
  .logo-container {
    height: 50vh; }
    .logo-container h1 {
      text-align: left; } }
