.choice-btn {
  margin: 2% 0;
  padding: 10%;
  background: #fff;
  color: #5B6580;
  border-radius: 0;
  font-size: 2rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19); }
  .choice-btn:hover {
    background: #12D66E;
    color: white;
    box-shadow: none; }
  .choice-btn:focus {
    outline: none; }

.choices {
  margin-bottom: 3%;
  padding: 0;
  background: whitesmoke;
  padding-top: 3%;
  height: inherit !important;
  padding-bottom: 3%;
  border-bottom: 1px solid #EFEFEF; }
  .choices ol {
    margin-bottom: 0; }
  .choices li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #9DA3B3;
    background: #FFFFFF;
    border: 1px solid #EFECEC; }
  .choices .submit-wrap {
    text-align: right; }
  .choices .choice-delete-btn {
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    color: #E85353;
    box-shadow: none; }
    .choices .choice-delete-btn:hover {
      background: none;
      color: #bc1919; }

.location {
  width: 93%;
  display: inline-block;
  padding: 1%;
  margin: 2%;
  font-size: 2rem; }

.collection-item {
  background: white;
  padding: 0 4%; }
  .collection-item i {
    color: #9DA3B3;
    cursor: pointer; }
    .collection-item i:hover {
      color: #12D66E; }

.collection-item-wrap {
  margin: 3% 0; }
  .collection-item-wrap h4 {
    font-size: 2rem;
    font-weight: 600;
    padding: 3%;
    background: white;
    margin: 0;
    border-bottom: 1px solid whitesmoke; }

.finish-collection .submit-wrap {
  text-align: left; }

.curExp-choice-wrap {
  padding: 10px; }

.curExp-choice {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5em; }

.experience-btn {
  margin: 2% 0;
  padding: 10%;
  border-radius: 0;
  font-size: 3rem;
  color: #5B6580;
  height: 100vh;
  color: white;
  background: #9DA3B3;
  background-position: center center;
  transition: .2s all; }
  .experience-btn:hover {
    transform: scale(0.9); }

.info-window .left {
  width: 33%;
  display: inline-block;
  vertical-align: top; }

.info-window .right {
  width: 66%;
  display: inline-block;
  vertical-align: top; }

.info-window h3 {
  margin: 0;
  margin-bottom: 3%; }

.info-action-link {
  font-size: 1.25em;
  margin-right: 10px; }

.status {
  font-size: 12px; }

.closed {
  color: red; }

.open {
  color: green; }

#main-map, #near-map {
  border-top: 3px solid #102665;
  height: 85vh; }

.map-header {
  display: flex;
  align-items: center;
  padding-bottom: 5%; }
  .map-header .description {
    text-align: right; }
  .map-header button {
    background: #E85353;
    padding: 1% 10%; }
    .map-header button:hover {
      background: #e22626; }
  .map-header h1 {
    font-size: 4rem; }
  .map-header h3 {
    color: #9DA3B3;
    margin-top: 8%; }

.modal-dialog {
  width: 80%;
  margin-top: 10%; }

.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: white;
  padding: 4%; }

.modal-header {
  border: none;
  padding: 0; }
  .modal-header .close {
    background: none;
    box-shadow: none;
    opacity: 1;
    color: #E85353;
    border-radius: 0;
    padding: 10px; }
    .modal-header .close:hover {
      color: white;
      opacity: 1;
      text-shadow: none;
      background: #E85353; }
    .modal-header .close span {
      padding: 10px; }

.modal-title {
  font-size: 2.25rem;
  font-weight: 800; }

.modal-body {
  padding: 5% 0; }

.modal-footer {
  border: none;
  padding: 0; }
  .modal-footer button {
    border: none;
    font-size: 1.75rem;
    color: white; }

.modal {
  background: rgba(18, 214, 110, 0.85);
  border-top: 3px solid #12D66E;
  word-wrap: break-word; }
  .modal a {
    color: #12D66E; }
    .modal a:hover {
      color: #0a783e; }
  .modal img {
    width: 100%;
    margin-bottom: 5%; }
  .modal .well {
    font-size: 1.75rem;
    box-shadow: none;
    border-radius: 0;
    background: #F3F6FF;
    border: 1px solid #E5E9F7;
    font-weight: 600;
    line-height: 2.5rem; }

.dismiss {
  background: none;
  box-shadow: none;
  color: #12D66E !important;
  margin-right: 10px; }
  .dismiss:hover {
    background: #F5F5F5; }

.selection-wrap {
  text-align: center;
  margin: 0;
  padding: 0; }

.options button {
  width: 100%;
  height: 75vh;
  margin: 0;
  padding: 5%;
  border: none;
  font-size: 1.5em;
  color: #102665;
  background: #12D66E;
  transition: .2s all;
  border: 3px solid #102665;
  border-radius: 0; }
  .options button:hover {
    background: #102665;
    color: #fff; }

.scroll {
  transform: translate3d(0, 0, 0);
  display: block;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

.page {
  position: absolute;
  width: 100%;
  height: 100%; }
  .page > div {
    min-height: 100%;
    padding: 1em; }

.scrolled {
  transition: transform 1s ease;
  transform: translate3d(0, 0, 0); }
  .scrolled.ng-enter {
    transform: translate3d(100%, 0, 0); }
  .scrolled.ng-enter-active {
    transform: translate3d(0, 0, 0); }
  .scrolled.ng-leave {
    transform: translate3d(0, 0, 0); }
  .scrolled.ng-leave-active {
    transform: translate3d(-100%, 0, 0); }

.backward .scrolled.ng-enter {
  transform: translate3d(-100%, 0, 0); }

.backward .scrolled.ng-enter-active {
  transform: translate3d(0, 0, 0); }

.backward .scrolled.ng-leave {
  transform: translate3d(0, 0, 0); }

.backward .scrolled.ng-leave-active {
  transform: translate3d(100%, 0, 0); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F5F5F5;
  font-family: 'Source Sans Pro', sans-serif;
  color: #102665; }

p {
  font-size: 18px; }

a {
  color: #12D66E;
  font-size: 18px;
  font-weight: bold;
  transition: .2s all; }
  a:hover {
    color: #0a783e;
    text-decoration: none; }

.loading {
  text-align: center;
  margin-top: 25%; }

h1 {
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 7rem; }

h3 {
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 4rem; }

hr {
  border: 3px solid #12D66E;
  width: 35%;
  margin-bottom: 3%; }

.header-container {
  display: flex;
  align-items: center;
  padding: 3% 0 5%; }
  .header-container h3 {
    color: #9DA3B3;
    margin-top: 8%; }

.bread-crumb a {
  color: #9DA3B3; }
  .bread-crumb a:hover {
    color: #12D66E; }

button {
  border: none;
  font-size: 2rem;
  transition: .2s all;
  background: #12D66E;
  color: white;
  border-radius: 3px;
  padding: 1% 3%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.19); }
  button:hover {
    background-color: #0ea756;
    color: white;
    box-shadow: none; }
  button:focus {
    outline: none; }

@media screen and (max-width: 40em) {
  .header-container {
    display: inline-block;
    padding: 3% 15px;
    padding-bottom: 0; }
  .description {
    padding-top: 7%; }
  .modal-dialog {
    margin: 0 auto;
    margin-top: 10%; }
  .modal-content {
    padding: 7%; }
  button.submit {
    width: 100%;
    padding: 3% 0;
    margin: 3% 0;
    margin-bottom: 10%; }
  #main-map, #near-map {
    height: 80vh; }
  .welcome-container {
    display: inline-block;
    align-items: none; }
    .welcome-container p {
      margin-bottom: 10%; }
  .options {
    padding-top: 10%; }
  .options button {
    height: 50vh; }
  .curExp-choice {
    padding: 3% 0; }
  .dismiss {
    display: none; }
  .location {
    width: 81%;
    padding: 3%;
    margin: 5%; }
  .collection-item-wrap h4 {
    padding: 5%; } }

@media only screen and (max-width: 47.875em) {
  .choices li {
    margin-bottom: 3%; }
  .welcome-container {
    display: inline-block;
    align-items: none; }
    .welcome-container p {
      margin-bottom: 10%; }
  .experience-btn {
    height: 30vh; } }
