// Sherpa App
//

// Sherpa Color Variables
//
$c-green:#12D66E;
$c-blue:#102665;
$c-gray:#9DA3B3;
$c-red:#E85353;

// Sherpa Animate Variables
//
$a-duration:1s;

// Sherpa Mixins
//

// Credit: http://goo.gl/Gujbp4
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Sherpa Partials
//
@import "js/choiceView/css/_choiceViewCore.scss";
@import "js/curExp/css/_curExp.scss";
@import "js/near/css/_infoWindow.scss";
@import "_maps.scss";
@import "_modal.scss";
@import "_landing.scss";
@import "_animate.scss";
@import "_core.scss";
@import "_queries.scss";
