<div class="container header-container animated fadeInDown">
  <div class="col-sm-6 logo">
    <h1>sherpa</h1>
      <h3>the smart way to wander</h3>
      <hr>
  </div>
  <div class="col-sm-6 description">
    <p>Like the Sherpas of Nepal who guide the foreign climbers of Everest, we provide invaluable local expertise to aid travellers looking for new adventures.</p>
  </div>
</div>
<div class="row options">
  <div class="col-sm-6 col-xs-12 selection-wrap">
    <a ui-sref="home.choiceView"><button class="choice-view-btn" type="button" name="button">Guide Yourself</button></a>
  </div>
  <div class="col-sm-6 col-xs-12 selection-wrap ">
    <a ui-sref="home.curExp"><button class="curated-view-button" type="button" name="button">Let Us Guide You</button></a>
  </div>
</div>
