<div class="nav col-xs-12">
  <h1>CurExp</h1>
  <a ui-sref="landing">Home</a>
  <a ui-sref="home.map">Map</a>
  <a ui-sref="home.choiceView">Choice View</a>
  <a ui-sref="home.curExp">Curated Experience</a>
  <a ui-sref="home.near">Near Me</a>
</div>


<!-- ng-repeat call directive and pass in tourobj -->

<div ng-repeat="tour in tours">
  <experience-directive tour="tour"></experience-directive>

</div>

<div class="curExp-container col-xs-12">
    <div class="curExp-card-wrap col-xs-12 col-sm-6 col-md-4">
      <div class="curExp-card col-xs-12">
        Historical Tour
      </div>
    </div>
    <div class="curExp-card-wrap col-xs-12 col-sm-6 col-md-4">
      <div class="curExp-card col-xs-12">
        Haunted Tour
      </div>
    </div>
    <div class="curExp-card-wrap col-xs-12 col-sm-6 col-md-4">
      <div class="curExp-card col-xs-12">
        Architectural Tour
      </div>
    </div>
  </div>
