<div class="container header-container">
  <div class="logo col-sm-6 col-xs-12">
    <h1>sherpa</h1>
    <a ui-sref="landing">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>  start over
    </a>
    <hr>
  </div>
  <div class="description col-sm-6 col-xs-12">
    <p>Try one of our custom tours and let us show you Charleston's best spots.</p>
  </div>
</div>

<div class="container">
<!-- ng-repeat call directive and pass in tourobj -->
  <div ng-repeat="tour in ExpCtrl.tours" >
    <experience-directive submit = "ExpCtrl.sendTour(tour.id)" exp-tour="tour"></experience-directive>
  </div>
</div>
