  <div class="collection-item-wrap">
    <h4>
      {{category}}
    </h4>
    <div class="collection-item">
      <span>
        <i
          ng-hide="index === 0"
          class="fa fa-chevron-left"
          ng-click="rewind()"
        >
        </i>
      </span>
        <div
            ng-swipe-left="advance()"
            ng-swipe-right="rewind()"
            class="location"
            data-loc-id="{{locId}}"
            ng-model="locationDisplay"
            >
            {{locationDisplay}}
        </div>
      <span>
        <i
          ng-hide="index === (location.data.length - 1)"
          class="fa fa-chevron-right"
          ng-click="advance()"
        >
        </i>
      </span>
    </div>
  </div>
