<!-- This template iterates over the '/category' route data to provide a list of choices for the user to build their own tour. -->
<div class="container">
  <h1>sherpa</h1>
  <div class="breadcrumb">
    <a ui-sref="landing">home</a>
    <hr>
    <p>pick three categories to start creating your own tour.</p>
  </div>
  <div ng-model="choiceViewCtrl.categoryChoice">
    <ol >
      <!-- using track by to allow duplicates from an ng-repeat https://docs.angularjs.org/api/ng/directive/ngRepeat -->
      <li ng-repeat="choice in choiceViewCtrl.categoryChoice track by $index">{{choice.categoryStr}} <button ng-click="choiceViewCtrl.deleteChoice(choice)">x</button></li>
    </ol>
  </div>
  <form action="">
  <div ng-repeat="category in choiceViewCtrl.categories">
    <choice-view-directive add-to-page="choiceViewCtrl.addChoice(category)" cat='category'></choice-view-directive>
  </div>
  <button
    ng-click="choiceViewCtrl.submitChoice()"
    class="submit">submit</button></form>
</div>
