<!-- This template iterates over the '/category' route data to provide a list of choices for the user to build their own tour. -->
<div class="container">
  <h1>sherpa</h1>
  <div class="breadcrumb">
    <a ui-sref="landing">home</a>
    <hr>
    <p>pick three categories to start creating your own tour.</p>
  </div>
  <form action="">
  <div ng-repeat="category in choiceViewCtrl.categories">
    <choice-view-directive cat='category'></choice-view-directive>
  </div>
  <button class="submit">submit</button></form>
</div>
