body {
  background-color:blue;
}
// .curExp-container {
//   background: hsla(0,0%,0%,.1);
//   padding:20px;
// }
.curExp-card-wrap{
  padding:10px;
}
.curExp-card{
  border:none;
  background: yellow;
  color: rgba(0, 0, 0, 0.5);
  padding: 2% 0;
  font-size: 1.5em;
  text-transform: uppercase;
  transition:.2s all;
  &:hover{
    background:orange;
  }
}
