
// Sherpa Curated Experience
//
// All style specific to Curated Experience should go here. Any global style should be placed in core.scss
//
//
.curExp-choice-wrap{
  padding:10px;
}
.curExp-choice{
  border:none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
}
.experience-btn{
  margin: 2% 0;
  padding: 10%;
  border-radius:0;
  font-size:3rem;
  color: #5B6580;
  height:100vh;
  color:white;
  background:$c-gray;
  background-position:center center;
  transition:.2s all;
  &:hover{
    transform: scale(.9);
  }
}
