//
// Sherpa Choice View
//
// All Choice View specific style goes here. Any global style should be placed in core.scss
//
//
.choice-btn {
  margin: 2% 0;
  padding: 10%;
  background: #CBCED6;
  color: #5B6580;
  border-radius:0;
  font-size:2rem;
  &:hover {
    background: $c-green;
    color:white;
  }
  &:focus {
    outline: none;
  }
}

.choices {
  ol{
    margin:2% 0;
  }
  li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  font-size:1.5rem;
  color:$c-gray;
  border-radius:3px;
  background:#F3F3F3;
}
.submit-wrap {
  text-align: right;
}
  .choice-delete-btn {
    -webkit-appearance: none;
    background: none;
    border: none;
    padding:0;
    margin-left: 10px;
    color:#E85353;
    &:hover{
      background:none;
      color:#E85353;
    }
  }
}
