body{
  background-color:blue;
}
.choice-container {
  background: hsla(0,0%,0%,.1);
  padding:10px;
}
.choice-card-wrap{
  padding:10px;
}
.choice-card{
  padding:10px;
  background: hsla(0,0%,0%,.1);
}
