<div class="nav col-xs-12">
  <h2>Map View</h2>
  <a ui-sref="landing">Home</a>
  <a ui-sref="home.map">Map</a>
  <a ui-sref="home.choiceView">Choice View</a>
  <a ui-sref="home.curExp">Curated Experience</a>
  <a ui-sref="home.near">Near Me</a>
</div>

<div id="main-map" class="col-xs-12"></div>
<div ng-repeat="tour in MapCtrl.tour">
  <div class="modal fade" id="{{tour.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">{{tour.location.name}}</h2>
        </div>
        <div class="modal-body">
          <div class="img img-responsive">
            <img src="{{tour.location.imageUrl}}"/>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class=" fa fa-map-marker" aria-hidden="true"></i> Address: {{tour.location.streetAddress}}</li>
            <li class="list-group-item"><i class="fa fa-link" aria-hidden="true"></i> Website: <a href="{{tour.location.siteUrl}}" target="_blank">{{tour.location.siteUrl}}</a></li>
          </ul>
          <div class="well">
            {{tour.location.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
